<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.my.qna.mapper.QnaMapper">
	  <!-- 1.qna 리스트 보기 -->
	 	<select id="list" resultType="com.my.qna.vo.QnaVO">
	   SELECT rnum,no,title,name,id,writeDate,hit,levNo 
		 FROM
		    (
		       SELECT ROWNUM rnum,no,title,name,id,writeDate,hit,levNo 
		       FROM
		       (
		            SELECT q.no,q.title,m.name,q.id,q.writeDate,q.hit,q.levNo 
		            FROM qna q,member m 
		            WHERE q.id = m.id
		            ORDER BY q.refNo DESC,q.ordNo
		        )
		    )
		 WHERE rnum BETWEEN #{startRow} AND #{endRow}
	 	</select>
	 		
	 	<!-- 1-1.qna 전체 글 갯수 구하기 -->
	 	<select id="getTotalRow" resultType="java.lang.Long">
	 		SELECT COUNT(*) FROM qna
	 	</select>

	  <!-- 2.qna view : 글번호인 no를 받아옴 -->
	  <select id="view" resultType="com.my.qna.vo.QnaVO">
	  	SELECT q.no,q.title,q.content,m.name,q.id,q.writeDate,q.hit
	  	,q.refNo,q.ordNo,q.levNo,q.parentNo    
	  	FROM qna q, member m
	  	WHERE  (q.no = #{no}) AND (q.id=m.id)
	  </select>
	  <!-- 2.1 qna 글 보기 시 조회수 1증가 -->
	  <update id="inc">
	  	UPDATE qna SET hit = hit+1
	  	WHERE no=#{no}
	  </update>
	  
	  <!-- 3.qna 질문하기 -->
	  <insert id="question">
	  	INSERT INTO qna(no,title,content,id,refNo,ordNo,levNo,parentNo) 
	  	VALUES(qna_seq.nextval,#{title},#{content},#{id},qna_seq.nextval,1,0,qna_seq.nextval)
	  </insert>
	  
	  <!-- 4-1.qna 답변하기 전에 ordNo +1 하는구문 -->
	  <!-- refNo가 같고 ordNo가 같거나 큰 경우 ordNo+1하기 -->
	  <update id="inc_ordNo">
	  	UPDATE qna
			SET ordNo = ordNo+1 
			WHERE refNo=#{refNo} and ordNo>=#{ordNo}
	  </update>
	  
	  <!-- 4-2.qna 답변하기 -->
	  <insert id="answer">
	  	INSERT INTO qna(no,title,content,id,refNo,ordNo,levNo,parentNo) 
			VALUES(qna_seq.nextval,#{title},#{content},#{id},#{refNo},#{ordNo},#{levNo},#{parentNo})
	  </insert>
	  
	  <!--5.게시판 글수정 -->
	  <update id="update">
	  	UPDATE qna SET title=#{title},content=#{content} 
	  	WHERE no=#{no}	
	  </update>
	  
	  <!-- 6.글 삭제 -->
	 <delete id="delete">
  		DELETE FROM qna 
  		WHERE no = #{no}
  	</delete> 
  </mapper>