<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.my.member.mapper.MemberMapper">
  	<!-- 로그인 처리 -->
  	<select id="login" resultType="com.my.member.vo.LoginVO">
	  	SELECT m.id,m.name,m.gradeNo,g.gradeName,m.photo
	  	FROM member m,grade g
	  	WHERE (id=#{id} AND pw=#{pw}) AND (m.gradeNo=g.gradeNo)
  	</select> <!-- (id=#{id} AND pw=#{pw}) 일반조건 먼저쓰는게 속도빠르다. -->
  	<!-- 회원가입 -->
  	<insert id="register">
  		INSERT INTO member(id,pw,name,gender,birth,tel,email,photo) 
  		VALUES(#{id},#{pw},#{name},#{gender},#{birth},#{tel},#{email},#{photo})
  	</insert>
  	<!-- 아이디 중복체크 -->
  	<select id="checkId" resultType="String">
  		SELECT id FROM member 
  		WHERE id = #{id}
  	</select>
  </mapper>	