@charset "UTF-8";
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.dataRow:hover{
	background: #eee;
	cursor: pointer;
}
.page{
	display: flex;
	justify-content:center;
}
.noRead{
	color:#ff3300;
	font-weight: 700;
}
th,td{
	text-align: center;
}