/* Reset CSS */
* {
	box-sizing: border-box; /*padding과 border를 최초의 정한 값 안으로 넣기*/
}
a {
	text-decoration: none;
	color:#222; /*a태그는 body의 color를 따르지 않으므로 별도지정 필요*/
}
button,input {
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0; /*margin-bottom은 쓸만하므로*/
	font-weight: normal; /*기본값으로 bold임 너무 두꺼워*/
	line-height: 1.5em; /*h태그가 줄이 바뀔때 줄 간격이 붙는걸 막기*/
}
li {list-style: none;}


