@charset "UTF-8";
th,td{
	text-align: center;
}
.RowHover:hover{
	/*table row에 손올리면 회색바탕으로*/
	background: #eee;
}
.Btns{
	display: flex;
	justify-content:space-between;
}

.page{
	display: flex;
	justify-content:center;
}
