@charset "UTF-8";
th,td{
	text-align: center;
}
.td_title{
	text-align: left !important;
}
.RowHover:hover{
	/*table row에 손올리면 회색바탕으로*/
	background: #eee;
}
.page{
	display: flex;
	justify-content:center;
}
