@charset "UTF-8";

.dataRow:hover{
	background: #eee;
	cursor:pointer;
}
.page{
	display: flex;
	justify-content:center;
}
.title{
	font-size: 20px;
	font-weight: bold;
}

	.line{
		height: 20px;
	}
/*태블릿*/
@media (min-width:768px) and (max-width:1024px){
	.row::before,.row::after{
	display: none !important;
}
		.row{
		display: grid;
		grid-template-columns: auto auto;
	}
	.sel_perPageNum_div{
	width: 100%;
	padding: 50px;
	text-align: center;
}
}
/*모바일*/
@media (max-width:767px){

	.row{
		display: grid;
		grid-template-columns: auto;
}
.sel_perPageNum_div{
	width: 100%;
	padding: 50px;
	text-align: center;
}
}
