<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.my.board.mapper.BoardReplyMapper">
	  <!-- 1.댓글 리스트 보기 -->
	 	<select id="list" resultType="com.my.board.vo.BoardReplyVO">
			SELECT rnum,rno,no,content,writer,writeDate
			FROM
			(
			  SELECT ROWNUM rnum,rno,no,content,writer,writeDate
			  FROM
			   	(
				   	SELECT rno,no,content,writer,writeDate 
				   	FROM board_reply
				   	WHERE no = #{no}
				   	ORDER BY rno DESC
			   	)
			)
			WHERE rnum BETWEEN #{pageObject.startRow} AND #{pageObject.endRow}
	 	</select>
	 	<!-- 1-1.댓글 전체 글 갯수 구하기 -->
	 	<select id="getTotalRow" resultType="java.lang.Long">
	 		SELECT COUNT(*) FROM board_reply 
	 		WHERE no = #{no}
	 	</select>
	 	<!-- 2.게시판 댓글보기 : 리스트에 다 보이므로 생략한다..-->
	  <!-- 3.댓글 쓰기 -->
	  <insert id="write">
	  	INSERT INTO board_reply(rno,no,content,writer,pw) 
	  	VALUES(board_reply_seq.nextval,#{no},#{content},#{writer},#{pw})
	  </insert>
	  <!--4.댓글 수정 -->
	  <update id="update">
	  	UPDATE board_reply 
	  	SET content=#{content},writer=#{writer} 
	  	WHERE rno=#{rno} AND pw=#{pw}	  	
	  </update>
	  <!--5.댓글 삭제 -->
	 <delete id="delete">
  		DELETE FROM board_reply 
  		WHERE rno = #{rno} AND pw=#{pw}
  	</delete> 
  </mapper>