<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.my.board.mapper.BoardMapper">
	  <!-- 1.게시판 리스트 보기 -->
	 	<select id="list" resultType="com.my.board.vo.BoardVO">
	    SELECT rnum,no,title,writer,writeDate,hit,replycnt  
	    FROM
	    (
	       SELECT ROWNUM rnum,no,title,writer,writeDate,hit,replycnt 
	       FROM(
	            SELECT no,title,writer,writeDate,hit,replycnt 
	            FROM board 
             <include refid="search"/>
	            ORDER BY no DESC
	        )
	    )
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	 	</select>
	 	
	 	<!-- 검색 조건 쿼리 저장 sql태그-->
	 	<sql id="search">
	 		 	<!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한 글자이면 char로 변환됨 -->
  		 	<!-- 그러므로 key값인 t,c,w를 char말고 문자열로 인식해달라고 toString()해야함 -->
			<if test="word!=null and word.toString()!=''">
	 			WHERE 1=0 <!-- 검색할 데이터 word가 있을때 WHERE 1=0 검색절 시작 -->
	 			<if test="key=='t'.toString()">
	 				OR title LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='c'.toString()">
	 				OR content LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='w'.toString()">
	 				OR writer LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='tc'.toString()">
	 				OR title LIKE '%'||#{word}||'%'
	 				OR content LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='tw'.toString()">
	 				OR title LIKE '%'||#{word}||'%'
	 				OR writer LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='cw'.toString()">
	 				OR content LIKE '%'||#{word}||'%'
	 				OR writer LIKE '%'||#{word}||'%'
	 			</if>
	 			<if test="key=='tcw'.toString()">
	 				OR title LIKE '%'||#{word}||'%'
 					OR content LIKE '%'||#{word}||'%'
	 				OR writer LIKE '%'||#{word}||'%'
	 			</if>
	 		</if>
	 	</sql>
	 	
	 	<!-- 1-1.게시판 전체 글 갯수 구하기 -->
	 	<select id="getTotalRow" resultType="java.lang.Long">
	 		SELECT COUNT(*) FROM board
	 		 <include refid="search"/>
	 	</select>
	 	<!-- 1-2.게시판 댓글 갯수 count -->
	 	<update id="updateReplyCnt">
	 		UPDATE board SET replycnt = replycnt + #{amount} 
	 		WHERE no = #{no}
	 	</update>
	 	
	  <!-- 2.게시판 글보기 글번호인 no를 받아옴 -->
	  <select id="view" resultType="com.my.board.vo.BoardVO">
	  	SELECT no,title,content,writer,writeDate,hit 
	  	FROM board 
	  	WHERE no = #{no}
	  </select>
	  <!-- 2.1 게시판 글 보기 시 조회수 1증가 -->
	  <update id="inc">
	  	UPDATE board SET hit = hit+1
	  	WHERE no=#{no}
	  </update>
	  <!-- 3.게시판 글쓰기 -->
	  <insert id="write">
	  	INSERT INTO board(no,title,content,writer,pw) 
	  	VALUES(board_seq.nextval,#{title},#{content},#{writer},#{pw})
	  </insert>
	  <!--4.게시판 글수정 -->
	  <update id="update">
	  	UPDATE board SET title=#{title},content=#{content},writer=#{writer} 
	  	WHERE no=#{no} AND pw=#{pw}	  	
	  </update>
	 <delete id="delete">
  		DELETE FROM board 
  		WHERE no = #{no} AND pw=#{pw}
  	</delete> 
  </mapper>